*{
    padding:0;
    margin: 0;
}

.primary-color{
    color: #99ff85;
}


.main_font{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.para_font_size{
    font-size: 28px;
}

.para_color{
    color:#777777
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    background-color: #f8f9fa; /* Optional: background color */
  }
  
  .carousel-inner img {
    margin: 0 auto; /* Center the images */
  }
  

.card:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 55px rgba(145, 241, 145, 0.3);
    background-color: rgb(112, 250, 130);
    border-color: #4aff26;
    border-width: 3px;
    font-weight: 600;
  }
  .card:hover .card-title,
  .card:hover .card-text {
      color: black;
  }
  
  .rbutton{
    border: 3px solid black;
    font-weight: 500;
  }

  .rbutton:hover{
    background-color: #99ff85;
  }

.icon-width{
    width: 20px;
}



.image-wrapper {
    position: relative;
  }
  
  #my_img {
    transition: opacity 1s ease;
    display: block;
    width: 100%;
  }
  
  .image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    margin-bottom: 20px;
    width: 75%;
    height: 90%;
    background: url('../assets/my_img2.jpeg') no-repeat center center;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 20px;
    border-width: 5px;
    border-color: #777777;
  }
  
  .image-wrapper:hover #my_img {
    opacity: 0;
  }
  
  .image-wrapper:hover::before {
    opacity: 1;
  }
  
.width{
  width: 25%;
}